target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
/SQLama-gui/.nb-gradle/private/
/SQLama/.nb-gradle/private/
/SQLama/SQLama-core/build/
/SQLama/SQLama-plugin/build/
/SQLama-gui/nbproject/private/
/SQLama-Preloader/nbproject/private/
/SQLama-Preloader/dist/
/SQLama-Preloader/build/
/SQLama-gui/build/
/SQLama-gui/dist/
/SQLama-core/nbproject/private/
/SQLama-plugin/nbproject/private/
/SQLama-core/build/
/SQLama-core/dist/
/SQLama-plugin/dist/
/SQLama-plugin/build/